.window-controls button {
  display: inline-block;
  height: 100%;
  padding: 0 19px;
  border: none;
  border-radius: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  transition: background 100ms;

  &:hover {
    background: #80808020;
  }

  &.close:hover {
    background: #e81123;
  }
}
